In [ ]:
speed = 25

In [ ]:
time = 4

In [ ]:
distance = speed * time

In [ ]:
print(distance)

In [ ]:
Principal = 5000

In [ ]:
Rate = 10

In [ ]:
Time = 4

In [ ]:
Simple_Interest = (Principal*Rate*Time)/100

In [ ]:
print(Simple_Interest)

In [ ]:
side = 4

In [ ]:
area = side**2

In [ ]:
print(area)

In [ ]:
bank_balance = 200

In [ ]:
print(bank_balance)

In [ ]:
my_int = 20

In [ ]:
my_float = 15.85

In [ ]:
my_string = 'Hello World'

In [ ]:
my_bool = True

In [ ]:
height = 60

In [ ]:
width = 40

In [ ]:
new_area_of_rectangle = height * width

In [ ]:
print(new_area_of_rectangle)

In [ ]:
height = 1.7

In [ ]:
weight = 72.25

In [ ]:
bmi = weight / (height*height)

In [ ]:
bmi = int(bmi)

In [ ]:
print(bmi)

In [ ]:
gender = "male"

In [ ]:
is_obese = False

In [ ]:
height = 20

In [ ]:
width = 80

In [ ]:
area_of_rectangle = height * width

In [ ]:
print(area_of_rectangle)

In [ ]:
total_interest = 9762.69

In [ ]:
type(total_interest)

In [ ]:
type(area_of_rectangle)

In [ ]:
bmi = 25

In [ ]:
print("BMI is " + bmi)

In [ ]:
bmi_str = str(bmi)

In [ ]:
message = "BMI is " + bmi_str

In [ ]:
print(message)

In [ ]:
first = 'Cloudx'

In [ ]:
second = "Lab"

In [ ]:
final = first+second

In [ ]:
animal = "cat"

In [ ]:
ten_animals = animal * 10

In [1]:
print(ten_animals)

NameError: name 'ten_animals' is not defined

In [2]:
def pay_calculator(hours, rate):
    hours = float(hours)
    rate = float(rate)
    if hours > 40:
        total_pay = (40 * rate) + 1.5 * (hours - 40) * rate
        return total_pay
    else:
        total_pay = hours * rate
        return total_pay
result = pay_calculator(45, 10)
print(result)

475.0

In [7]:
area_of_circle = 78.5

In [8]:
area_of_circle = str(area_of_circle)

In [14]:
area_of_circle_msg = "Area of the circle is - " + area_of_circle
print(area_of_circle_msg)

Area of the circle is - 78.5

In [16]:
len("cloudxlab")

9

In [17]:
max('cloudxlab')

'x'

In [18]:
min("cloudxlab")

'a'

In [19]:
edge = 8.9

In [20]:
square_area = edge ** 2

In [21]:
square_area_type = type(square_area)

In [22]:
print(square_area_type)

<class 'float'>

In [24]:
square_area_int = int(square_area)

In [25]:
print(square_area_int)

79

In [26]:
square_area_str = str(square_area_int)

In [27]:
print(square_area_str)

79

In [34]:
import math
print(math)

<module 'math' from '/usr/local/anaconda/lib/python3.6/lib-dynload/math.cpython-36m-x86_64-linux-gnu.so'>

In [1]:
import math

square_root = math.sqrt(56.98)
sin_rad = (math.pi*26)/180
sin_degree = math.sin(sin_rad)
log_e = math.log(1000)
print(square_root)
print(sin_rad)
print(sin_degree)

7.548509786706248
0.4537856055185257
0.4383711467890774

In [2]:
import random
random_number = random.random()
random_int = int(random_number)
print(random_int)

0

In [2]:
def get_name():
    print("Cloudxlab")
get_name()

Cloudxlab

In [3]:
def my_function(number):
    xyz = number
    xyz_str = str(xyz) + 'cloudxlab'
    print(xyz_str)
my_function(10)

10cloudxlab

In [7]:
import math
def new_function(num):
    return math.pi * num
def void_function(num1, num2):
    print(new_function(num1 ** num2))
void_function(4.6, 7.3)

216412.35147094267

In [10]:
def input_name():
    return input("What am I studying?\n")
subject = input_name()
print(subject)

What am I studying?
Python
Python

In [15]:
def is_on_line(x1, x2, x):
    if (x >= x1 and x <= x2):
        return True
    else:
        return False
is_on_line(10,20,30)

False

In [16]:
is_on_line(10,20,20)

True

In [17]:
is_on_line(10,20,-10)

False

In [18]:
is_on_line(-4,-5,-4.5)

False

In [46]:
def conditional_statements(num1, num2, num3, num4):
    if num1<int(num2) and num1> num3 and num1==num4 :
        if  num3 < num1 and num3 < int(num2) and num3 < num4:
            if type(num2) == float:
                sum = num1+num2+num3+num4
                print(sum)
                return sum
            else:
               # print("B")
                return None
        else:
            #print("C")
            return None
    else:
        #print("D")
        return None

In [48]:
print(conditional_statements(2, 3.6, 1, 2))

8.6
8.6

In [2]:
def except_func(num):
    try:
        return num*num
    except:
        return 'invalid number'
print(except_func(3))

9

In [16]:
def print_even(n):
    i = 0
    while i < n:
        if i%2 == 0:
            print(i)
        i = i + 2

In [17]:
print_even(4)

0
2

In [18]:
print_even(0)

In [19]:
print_even(5)

0
2
4

In [2]:
def compound_interest(principle, rate, years):
    p = principle
    while 0 < years:
        p = p + ((p * rate * 1) / 100)
        years = years - 1
    comp_interest = (p - principle)
    return comp_interest

compound_interest(100, 5, 2)

10.25

In [3]:
compound_interest(100, 5, 1)

5.0

In [18]:
def sum_func(n):
    if type(n) is not int:
        return -1
    elif n < 0:
        return -1
    else:
        sum = 0
        i = n
        while i > 0:
            sum = sum + i
            i = i - 1
        return sum

In [33]:
print(sum_func(10))

55

In [44]:
def special_func(num):
    total = 0
    if type(num) is int and num > 0:
        for i in range(1, num+1):
            if num % i == 0 and i % 2 != 0:
                total = total + i
    else:
        total = -10
    return total

In [45]:
print(special_func(12))

4

In [46]:
def str_func(str):
    return str[-1]
str_func('1234')

'4'

In [77]:
def sum_str_func(s):
    sd = 0
    for d in range(0, len(str(s))):
        sd = sd+int(s[d])
    return sd

In [78]:
sum_str_func('1234')

4936