In [ ]:
speed = 25

In [ ]:
time = 4

In [ ]:
distance = speed * time

In [ ]:
print(distance)

In [ ]:
Principal = 5000

In [ ]:
Rate = 10

In [ ]:
Time = 4

In [ ]:
Simple_Interest = (Principal*Rate*Time)/100

In [ ]:
print(Simple_Interest)

In [ ]:
side = 4

In [ ]:
area = side**2

In [ ]:
print(area)

In [ ]:
bank_balance = 200

In [ ]:
print(bank_balance)

In [ ]:
my_int = 20

In [ ]:
my_float = 15.85

In [ ]:
my_string = 'Hello World'

In [ ]:
my_bool = True

In [ ]:
height = 60

In [ ]:
width = 40

In [ ]:
new_area_of_rectangle = height * width

In [ ]:
print(new_area_of_rectangle)

In [ ]:
height = 1.7

In [ ]:
weight = 72.25

In [ ]:
bmi = weight / (height*height)

In [ ]:
bmi = int(bmi)

In [ ]:
print(bmi)

In [ ]:
gender = "male"

In [ ]:
is_obese = False

In [ ]:
height = 20

In [ ]:
width = 80

In [ ]:
area_of_rectangle = height * width

In [ ]:
print(area_of_rectangle)

In [ ]:
total_interest = 9762.69

In [ ]:
type(total_interest)

In [ ]:
type(area_of_rectangle)

In [ ]:
bmi = 25

In [ ]:
print("BMI is " + bmi)

In [ ]:
bmi_str = str(bmi)

In [ ]:
message = "BMI is " + bmi_str

In [ ]:
print(message)

In [ ]:
first = 'Cloudx'

In [ ]:
second = "Lab"

In [ ]:
final = first+second

In [ ]:
animal = "cat"

In [ ]:
ten_animals = animal * 10

In [1]:
print(ten_animals)

NameError: name 'ten_animals' is not defined

In [2]:
def pay_calculator(hours, rate):
    hours = float(hours)
    rate = float(rate)
    if hours > 40:
        total_pay = (40 * rate) + 1.5 * (hours - 40) * rate
        return total_pay
    else:
        total_pay = hours * rate
        return total_pay
result = pay_calculator(45, 10)
print(result)

475.0

In [7]:
area_of_circle = 78.5

In [8]:
area_of_circle = str(area_of_circle)

In [14]:
area_of_circle_msg = "Area of the circle is - " + area_of_circle
print(area_of_circle_msg)

Area of the circle is - 78.5

In [16]:
len("cloudxlab")

9

In [17]:
max('cloudxlab')

'x'

In [18]:
min("cloudxlab")

'a'

In [19]:
edge = 8.9

In [20]:
square_area = edge ** 2

In [21]:
square_area_type = type(square_area)

In [22]:
print(square_area_type)

<class 'float'>

In [24]:
square_area_int = int(square_area)

In [25]:
print(square_area_int)

79

In [26]:
square_area_str = str(square_area_int)

In [27]:
print(square_area_str)

79

In [34]:
import math
print(math)

<module 'math' from '/usr/local/anaconda/lib/python3.6/lib-dynload/math.cpython-36m-x86_64-linux-gnu.so'>

In [1]:
import math

square_root = math.sqrt(56.98)
sin_rad = (math.pi*26)/180
sin_degree = math.sin(sin_rad)
log_e = math.log(1000)
print(square_root)
print(sin_rad)
print(sin_degree)

7.548509786706248
0.4537856055185257
0.4383711467890774

In [2]:
import random
random_number = random.random()
random_int = int(random_number)
print(random_int)

0

In [2]:
def get_name():
    print("Cloudxlab")
get_name()

Cloudxlab

In [3]:
def my_function(number):
    xyz = number
    xyz_str = str(xyz) + 'cloudxlab'
    print(xyz_str)
my_function(10)

10cloudxlab

In [7]:
import math
def new_function(num):
    return math.pi * num
def void_function(num1, num2):
    print(new_function(num1 ** num2))
void_function(4.6, 7.3)

216412.35147094267

In [10]:
def input_name():
    return input("What am I studying?\n")
subject = input_name()
print(subject)

What am I studying?
Python
Python

In [15]:
def is_on_line(x1, x2, x):
    if (x >= x1 and x <= x2):
        return True
    else:
        return False
is_on_line(10,20,30)

False

In [16]:
is_on_line(10,20,20)

True

In [17]:
is_on_line(10,20,-10)

False

In [18]:
is_on_line(-4,-5,-4.5)

False

In [46]:
def conditional_statements(num1, num2, num3, num4):
    if num1<int(num2) and num1> num3 and num1==num4 :
        if  num3 < num1 and num3 < int(num2) and num3 < num4:
            if type(num2) == float:
                sum = num1+num2+num3+num4
                print(sum)
                return sum
            else:
               # print("B")
                return None
        else:
            #print("C")
            return None
    else:
        #print("D")
        return None

In [48]:
print(conditional_statements(2, 3.6, 1, 2))

8.6
8.6

In [2]:
def except_func(num):
    try:
        return num*num
    except:
        return 'invalid number'
print(except_func(3))

9

In [16]:
def print_even(n):
    i = 0
    while i < n:
        if i%2 == 0:
            print(i)
        i = i + 2

In [17]:
print_even(4)

0
2

In [18]:
print_even(0)

In [19]:
print_even(5)

0
2
4

In [2]:
def compound_interest(principle, rate, years):
    p = principle
    while 0 < years:
        p = p + ((p * rate * 1) / 100)
        years = years - 1
    comp_interest = (p - principle)
    return comp_interest

compound_interest(100, 5, 2)

10.25

In [3]:
compound_interest(100, 5, 1)

5.0

In [18]:
def sum_func(n):
    if type(n) is not int:
        return -1
    elif n < 0:
        return -1
    else:
        sum = 0
        i = n
        while i > 0:
            sum = sum + i
            i = i - 1
        return sum

In [33]:
print(sum_func(10))

55

In [44]:
def special_func(num):
    total = 0
    if type(num) is int and num > 0:
        for i in range(1, num+1):
            if num % i == 0 and i % 2 != 0:
                total = total + i
    else:
        total = -10
    return total

In [45]:
print(special_func(12))

4

In [46]:
def str_func(str):
    return str[-1]
str_func('1234')

'4'

In [87]:
def sum_str_func(s):
    sd = 0
    for d in str(s):
        sd = sd+int(d)
    return sd

In [88]:
sum_str_func('1234')

10

In [95]:
def slicing_func(s):
    print(s[2:])

In [96]:
slicing_func("Hello World")

llo World

In [101]:
a = "cloudxlab"

In [102]:
a[1] = 'm'

TypeError: 'str' object does not support item assignment

In [105]:
a = "Cloudxlab is a large ed-tech platform for ml and big data"
count = 0
for letter in a:
     if letter == 'l':
        count = count + 1

In [106]:
print(count)

5

In [1]:
help(a.translate)

NameError: name 'a' is not defined

In [6]:
def email_func(s):
    if s.find('@') > -1:
        for subString in s.split(' '):
            if subString.find('@') > -1:
                return subString
    else:
        return False

In [7]:
print(email_func("Crazy Frog"))

False

In [8]:
print(email_func("this is first abhinav@cloudxlab.com and this is second sandeep@cloudxlab.com"))

abhinav@cloudxlab.com

In [16]:
print(email_func("a a@"))

a@

In [17]:
print('%d+3' % 3)

3+3

In [18]:
print("%f %f %s")

%f %f %s

In [19]:
a = [12, 3.4, 34, 'cloudxlab', [2.3, 1.4]]

In [22]:
print(3 in a)

False

In [23]:
print('cloudx lab' in a)

False

In [28]:
a = [1,2,3,4,5,6,7,8,9]
a[2:5] = [7,4,9]
sum = 0
for number in range(len(a)):
    sum = sum + a[number]
print(sum)

53

In [1]:
a = [1,2,3,4,5,6,7,8,9]
s = (a[2:5])
sum = 0
for number in range(len(s)):
    sum = sum + s[number]
print(sum)

12

In [15]:
a = [23,12,32,1,2,34,56]
a.append(12)
print(a[len(a)-2])

56

In [16]:
a.extend(a)
print(a)

[23, 12, 32, 1, 2, 34, 56, 12, 23, 12, 32, 1, 2, 34, 56, 12]

In [19]:
sum = 0
for number in range(len(a)):
    sum = sum + a[number]
print(sum)

344

In [20]:
a.sort()
print(a[2] + a[7])

14

In [21]:
list1 = [12,23,43,[2,4,5], 2, 4,5]
list1.pop(3)

[2, 4, 5]

In [22]:
sum = 0
for number in range(len(list1)):
    sum = sum + list1[number]
print(sum)

89

In [23]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[1]
print(list2)

['cloudx', 'provides', 'cloud', 'lab']

In [24]:
list2.remove('lab')

In [25]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[:]

In [26]:
print(list2)

[]

In [27]:
s = "CloudxLab"
l = list(s)
print (l)

['C', 'l', 'o', 'u', 'd', 'x', 'L', 'a', 'b']

In [28]:
s = "I am learning Python at CloudxLab"
sp = s.split()
print (sp)

['I', 'am', 'learning', 'Python', 'at', 'CloudxLab']

In [29]:
s = "I am learning Python at CloudxLab"
sp = s.split("am")
print(sp)

['I ', ' learning Python at CloudxLab']

In [30]:
delimiter = "am"    
print(delimiter.join(sp))

I am learning Python at CloudxLab

In [52]:
#help(list)
def str_list_func(arg):
    s = arg.split(" ")
    for word in s:
        if len(word) > 1:
            s[s.index(word)] = word[-1]+word[1:-1]+word[0]
    return (" ".join(s))
print(str_list_func('I am learning Python at CloudxLab'))

I ma gearninl nythoP ta bloudxLaC

In [38]:
with open("/cxldata/python_sample_file") as f:
    s = ""
    for line in f:
        print(line)
        s = s + line
    print(s)

This is a sample file for testing

for Python course for

learners in CloudxLab.

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [35]:
f = open("/cxldata/python_sample_file")
content = f.read()
f.close()

In [2]:
def file_read_func(path):
    try:
        with open(path) as f:
            s = ""
            for line in f:
                s = s + "" + line.replace('\n','')
            return len("".join(s.split(" ")))
    except:
        return -1

In [3]:
print(file_read_func(("/cxldata/python_sample_file")))

65

In [4]:
check = 0
with open("/cxldata/python_sample_file") as f:
    for line in f:
        if(line.startswith('w')):
            check = check + 1
print(check)

0

In [5]:
with open("/cxldata/python_sample_file", 'w') as f:
    print(f.read())

PermissionError: [Errno 13] Permission denied: '/cxldata/python_sample_file'

In [9]:
with open("cxl.txt", 'w') as f:
    f.write("Python is a scripting language")

In [7]:
with open("cxl.txt", 'a') as f:
    f.write("Python is a scripting language")

In [10]:
with open("cxl.txt") as f:
    s = ""
    for line in f:
        s = s + line
    print(s)

Python is a scripting language

In [11]:
with open("python_file_writing.txt", 'w') as f:
    f.write("I am learning Python at CloudxLab.")

In [1]:
with open("python_file_writing.txt") as f:
    s = ""
    for line in f:
        s = s + line
    print(s)

I am learning Python at CloudxLab.

In [2]:
d = dict()
print(d)

{}

In [3]:
d['1 rupee coins'] = 10
d['2 rupees coins'] = 5
d['5 rupees coins'] = 6
d['10 rupees coins'] = 12
print(d)

{'1 rupee coins': 10, '2 rupees coins': 5, '5 rupees coins': 6, '10 rupees coins': 12}

In [4]:
print(d['5 rupees coins']+d['10 rupees coins'])

18

In [5]:
d = { 'one' : 1 , 'two' : 2, 'three' : 3, 'four': 4 }

In [6]:
print(len(d))

4

In [7]:
print('three' in d)

True

In [8]:
print(4 in d)

False

In [9]:
print(5 in d and 2 in d)

False

In [10]:
d = {"apples" : 2, "bananas" : 3, "carrots" : 12}
print(d.get("oranges", 0))

0

In [11]:
for fruit in d:
    print(fruit)

apples
bananas
carrots

In [12]:
def dict_func(s):
    d = dict()
    for word in s.split():
        d[word] = d.get(word, 0) + 1
    return d

In [13]:
print(dict_func('the quick brown fox jumps over the lazy dog'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [17]:
t = (1)
type(t)

int

In [18]:
t1 = tuple("1,2,3,4,5")
t2 = tuple([1,2,3,4,5])
t3 = tuple((1,2,3,4,5))

In [19]:
len(t1)

9

In [20]:
len(t2)

5

In [21]:
len(t3)

5

In [1]:
t = tuple()
print(t)

()

In [2]:
t = (1,3,5,2,54,34,2,34,5)
l = len(t)
print(t[l-2])

34

In [3]:
t2 = t[2:5]

In [4]:
print(t2)

(5, 2, 54)

In [5]:
t3 = t[1:3] + t2[:]

In [6]:
print(sum(t3))

69

In [7]:
l = [(0,23,34), (2,34,23), (1,34,23)]
l.sort()
print(l[2])

(2, 34, 23)

In [8]:
print(sum(l[2]))

59

In [9]:
d = { "one" : 1, "two" : 2, "three" : 3}
k = d.items()
print(k)

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [10]:
l = list(k)
print(l)

[('one', 1), ('two', 2), ('three', 3)]

In [11]:
for key, value in list(k):
    print(key, value)

one 1
two 2
three 3

In [12]:
def dict_tuple_func(li):
    d = dict()
    for item in li:
        d[item] = d.get(item, 0) + 1
    return (d, sum(d.keys()))

In [13]:
print(dict_tuple_func([1, 2, 3, 1, 2, 3]))

({1: 2, 2: 2, 3: 2}, 6)